# Dependencies
node_modules/
vendor/
.next/
bin/

# Environment files
.env*

# OS / IDEs
.DS_Store
.vscode/
.idea/

# Database data
postgres_data/

# Secrets and Certs
*.pem
*.key
*.pub

# Agents / Logs
.agents
*.log
